<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Předmět",:class => 'text-field' %><br>
    <%= f.text_field :name ,:alt => 'Název předmětu' %>
  </div>
  <div class="field">
    <%= f.label :teacher_id, "Vyučující",:class => 'text-field' %><br>
    <%= f.select :teacher_id ,options_for_select(Teacher.all.collect{|teacher| ["#{teacher.name} #{teacher.surname}", teacher.id]}, @subject.teacher_id), include_blank: true ,:alt => 'Vyučující předmětu' %>
  </div>
  <div class="field">
    <%= f.label :classroom, "Učebna",:class => 'text-field' %><br>
    <%= f.number_field :classroom ,:alt => 'Učebna' %>
  </div>
  <div class="actions">
    <%= f.submit "Uložit",:class => 'button-color' %>
  </div>
<% end %>
