<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Předmět" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :teacher_id, "Vyučující" %><br>
    <%= f.select :teacher_id, options_for_select(Teacher.all.collect{|teacher| ["#{teacher.name} #{teacher.surname}", teacher.id]}, @subject.teacher_id), include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :classroom, "Učebna" %><br>
    <%= f.number_field :classroom %>
  </div>
  <div class="actions">
    <%= f.submit "Odeslat" %>
  </div>
<% end %>
