<h1>Přehled předmětů</h1>

<table>
  <thead>
    <tr>
      <th>Předmět</th>
      <th>Vyučující</th>
      <th>Učebna</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= "#{subject.teacher.name} #{subject.teacher.surname}" %></td>
        <td><%= subject.classroom %></td>
        <td><%= link_to 'Zobrazit', subject %></td>
        <td><%= link_to 'Editovat', edit_subject_path(subject) %></td>
        <td><%= link_to 'Smazat', subject, method: :delete, data: { confirm: 'Opravdu chcete pokračovat?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Přidat nový předmět', new_subject_path %>
