<p id="notice"><%= notice %></p>

<p>
  <strong>Předmět:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Učitel:</strong>
  <%= "#{@subject.teacher.name} #{@subject.teacher.surname}" %>
</p>

<p>
  <strong>Učebna:</strong>
  <%= @subject.classroom %>
</p>

<%= link_to 'Editovat', edit_subject_path(@subject) %> |
<%= link_to 'Zpět', subjects_path %>
