<h1>Přehled učitelů</h1>

<table id= "pubs" class="table table-bordered" style="max-width:60%; color:white">
  <thead>
    <tr>
      <th class="col-md-3">Titul</th>
      <th class="col-md-3">Jméno</th>
      <th class="col-md-3">Příjmení</th>
      <th class="col-md-3" colspan="3">Možnosti</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td class="col-md-3"><%= teacher.title %></td>
        <td class="col-md-3"><%= teacher.name %></td>
        <td class="col-md-3"><%= teacher.surname %></td>
        <td class="col-md-1"><%= link_to 'Zobrazit', teacher %></td>
        <td class="col-md-1"><%= link_to 'Editovat', edit_teacher_path(teacher) %></td>
        <td class="col-md-1"><%= link_to 'Smazat', teacher, method: :delete, data: { confirm: 'Opravdu chcete pokračovat?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Přidat nového učitele', new_teacher_path %>
