<p id="notice"><%= notice %></p>

<p>
  <strong>Jméno:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Příjmení:</strong>
  <%= @teacher.surname %>
</p>

<p>
  <strong>Titul:</strong>
  <%= @teacher.title %>
</p>

<%= link_to 'Editovat', edit_teacher_path(@teacher) %> |
<%= link_to 'Smazat', teachers_path %>
