<%= form_for(@homework) do |f| %>
  <% if @homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homework.errors.count, "error") %> prohibited this homework from being saved:</h2>

      <ul>
      <% @homework.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Název:' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subject_id, 'Do předmětu:' %><br>
    <%= f.select :subject_id, options_for_select(Subject.all.collect{|subject| ["#{subject.name}", subject.id]}, @homework.subject_id), include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :date, 'Datum odevzdání:' %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :note, 'Poznámka:' %><br>
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit 'Uložit' %>
  </div>
<% end %>
