<h1>Seznam domácích úkolů</h1>

<table class="table table-bordered" style="max-width:80%; color:white">
  <thead>
    <tr>
      <th>Název:</th>
      <th>Do předmětu:</th>
      <th>Datum odevzdání:</th>
      <th colspan="3">Možnosti:</th>
    </tr>
  </thead>

  <tbody>
    <% @homeworks.each do |homework| %>
      <tr>
        <td><%= homework.name %></td>
        <td><%= homework.subject.name %></td>
        <td><%= homework.date.strftime("%d-%m-%Y") %></td>
        <td><%= link_to 'Zobrazit', homework %></td>
        <td><%= link_to 'Upravit', edit_homework_path(homework) %></td>
        <td><%= link_to 'Smazat', homework, method: :delete, data: { confirm: 'Opravdu chcete pokračovat?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nový úkol', new_homework_path %>
