<p id="notice"><%= notice %></p>





<style>
.column {text-align: center; font-size: 12pt;}
</style>
<table id= "pubs" class="table table-bordered" style="width:350px; max-width:350px; color:white;margin: 0 auto;table-layout:fixed;word-wrap:break-word;">
	<tr>
		<td class="column"><strong>Název:</strong></td>
	</tr>

	<tr>
		<td><%= @homework.name %></td>
	</tr>
	<tr>
		<td class="column"><strong>Do předmětu:</strong></td>
	</tr>
	<tr>
		<td><%= @homework.subject_id %></td>
	</tr>

	<tr>
		<td class="column"><strong>Datum odevzdání:</strong></td>
	</tr>
	<tr>
		<td><%= @homework.date.strftime("%d-%m-%Y") %></td>
	</tr>

	<tr>
		<td class="column"><strong>Poznámka:</strong></td>
	</tr>
	<tr>
		<td><%= @homework.note %></td>
	</tr>
	</table>
<%= link_to 'Upravit', edit_homework_path(@homework) %> |
<%= link_to 'Zpět', homeworks_path %>
