<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Test:' %><br>
    <%= f.text_field :name ,:alt => 'Název testu' %>
  </div>
  <div class="field">
    <%= f.label :subject_id, 'Ze předmětu:' %><br>
    <%= f.select :subject_id, options_for_select(Subject.all.collect{|subject| ["#{subject.name}", subject.id]}, @test.subject_id), include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :start_date, 'Datum testu:' %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :note, 'Poznámka:' %><br>
    <%= f.text_field :note, :alt => 'Poznámka k testu' %>
  </div>
  <div class="actions">
    <%= f.submit 'Uložit' %>
  </div>
<% end %>
