<h1>Seznam testů</h1>

<table id= "pubs" class="table table-bordered" style="max-width:80%; color:white">
  <thead>
    <tr>
      <th class="col-md-3">Test</th>
      <th class="col-md-3">Předmět</th>
      <th class="col-md-3">Datum</th>
      <th class="col-md-3" colspan="3">Možnosti</th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td class="col-md-3"><%= test.name %></td>
        <td class="col-md-3"><%= test.subject.name %></td>
        <td class="col-md-3"><%= test.start_date %></td>
        <td class="col-md-1"><%= link_to 'Zobrazit', test %></td>
        <td class="col-md-1"><%= link_to 'Upravit', edit_test_path(test) %></td>
        <td class="col-md-1"><%= link_to 'Smazat', test, method: :delete, data: { confirm: 'Opravdu chcete pokračovat?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Přidat test', new_test_path %>
