<p id="notice"><%= notice %></p>

<p>
  <strong>Název testu:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Předmět:</strong>
  <%= @test.subject_id %>
</p>

<p>
  <strong>Datum testu:</strong>
  <%= @test.start_date %>
</p>

<p>
  <strong>Poznámka:</strong>
  <%= @test.note %>
</p>

<%= link_to 'Upravit', edit_test_path(@test) %> |
<%= link_to 'Zpět', tests_path %>
