<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @test.subject_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @test.start_date %>
</p>

<p>
  <strong>Note:</strong>
  <%= @test.note %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
