<h3>Navigace</h3>

<ul style="color:white">
	<%= link_to 'Hlavní stránka', root_path %></br>
	<%= link_to 'Rozvrh hodin', home_rozvrh_path %></br>
	<%= link_to 'Termínová listina', home_akce_path %></br>
	<%= link_to 'Testy', tests_path %></br>
	<%= link_to 'Domácí úkoly', homeworks_path %></br>


</ul>

<h3>Odkazy</h3>
<ul>
<%= link_to "GOA", "http://goa.braillnet.cz" %></br>
<%= link_to "E-žákovská", "https://aplikace.skolaonline.cz/SOL/Prihlaseni.aspx?ReturnUrl=%2fsol%2fApp%2fDefault.aspx" %></br>
<%= link_to "E-nástěnka", "http://goa.braillnet.cz/nastenka" %></br>
<%= link_to "Viděno hmatem", "http://videnohmatem.braillnet.cz" %></br>
<%= link_to "KDD", "http://kdd.cz" %></br>
<%= link_to "KTN", "http://www.ktn.cz" %>
</ul>
<h3>Administrace</h3>
<ul>
	<%= link_to "Vyučující", teachers_path %></br>
	<%= link_to "Předměty", subjects_path %></br>
	<%= link_to "Testy", tests_path %></br>
</ul>