<h3>Menu</h3>

<ul style="color:white">
	<%= link_to 'Rozvrh hodin', root_path %>
	<%= link_to 'Termínová listina', root_path %>
</ul>

<h3>Odkazy</h3>
<ul>
<%= link_to "GOA", "http://goa.braillnet.cz" %></br>
<%= link_to "E-učebnice", "http://goa.braillnet.cz:1080/ucebnice" %></br>
<%= link_to "E-žákovská", "https://aplikace.skolaonline.cz/SOL/Prihlaseni.aspx?ReturnUrl=%2fsol%2fApp%2fDefault.aspx" %></br>
<%= link_to "E-nástěnka", "http://goa.braillnet.cz/nastenka" %></br>
<%= link_to "Viděno hmatem, o. s.", "http://videnohmatem.braillnet.cz" %></br>
<%= link_to "KDD", "http://kdd.cz" %></br>
<%= link_to "KTN", "http://www.ktn.cz" %>
</ul>